<h1>Editar tarefa: {{task.title}}</h1>
<form action="/user/edit" method="POST">
  <input type="hidden" name="id" value="{{task.id}}">  
  <div class="form-control">
    <label for="usuario">Título:</label>
    <input type="text" name="usuario" placeholder="como deseja seu nome?" value="{{task.title}}">
  </div>
  <div class="form-control">
    <label for="description">Descrição:</label>
    <textarea type="text" name="description" placeholder="O que você vai fazer?">{{task.description}}</textarea>
  </div>
  <input type="submit" value="Editar">
</form>