<h2>Faça seu registro</h2>

<form action="users/register" method="POST">
  <div class="form-control">
    <label for="title">Usuário:</label>
    <input type="text" name="usuario" placeholder="nome de usuario">
  </div>
  <div class="form-control">
    <label for="description">Senha:</label>
    <input type="password" name="senha" placeholder="sua senha"></input>
  </div>
  <input type="submit" value="Registar">
</form>


</br>
</br>

<div> 
  <h3>Já possue cadastro?</h3></br>
  <ul>
      <li>
          <a href="/login">Login</a>
    </li>
  </ul>
</div>